<footer class="footer flex">
    <div class="main__text-2 last">
            <h1 class="main__h1">Контакты</h1>
            <p class="main__subtitle">Студент: Ракитова Екатерина Романовна</p>
            <p class="main__subtitle">Группа: 201-322</p>
            <p class="main__subtitle">тел: +7 916 375 47-27</p>
            <p class="main__subtitle">e-mail: rackitowa.cat@outlook.com</p>
        </div>
    <div class="footer__img">
        <img class="footer__img" src="polytech.png" alt="LogoPolytech" >
    </div>
    <div class="footer__img-print">
        <img class="footer__img-print" src="polytech.jpg" alt="LogoPolytech" >
    </div>
</footer>