<main class="main__about">
        <div class="main__text-1">
            <h1 class="main__h1">О нас</h1>
            <p class="main__subtitle first">Мы сотрудничаем с крупнейшими промоутерскими компаниями России и мира,
                а также является официальными билетным оператором событий федерального масштаба.</p>                
            <p class="main__subtitle">На нашем сайте вы сможете найти ту самую композицию от которой у вас муражки по телу. 
                Мы даем возможность нашим пользователям делится своими любимыми композициями с другими</p>
        </div>
        <div class="main__text-2">
            <h1 class="main__h1">Контакты</h1>
            <p class="main__subtitle">Студент: Ракитова Екатерина Романовна</p>
            <p class="main__subtitle">Группа: 201-322</p>
            <p class="main__subtitle">тел: +7 916 375 47-27</p>
            <p class="main__subtitle">e-mail: rackitowa.cat@outlook.com</p>
        </div>
    </main>