<main class="main__blog">

        <h1 class="main__h1">Блог</h1>

        <div class="main__blog-window">   
            {{#each blogs}}             
            <h2 class="main__h2">{{title}}</h2>
            <p class="main__subtitle-2">{{text}}</p>
            <p class="main__subtitle-2">{{author}}</p>
            {{/each}}
        </div>

        <form action="/blog" method="POST">
        
        <p class="">Название</p>
        <input type="text" size="80" name="title">

        <p class="">Текст новости</p>
        <input type="text" size="80" name="text">

        <p class="">Автор</p>
        <input type="text" size="80" name="author">   
        
        </form>

        <div>
            <button class="main__button" type="submit">Добавить</button>
        </div>
    </main>