<main class="main__blog">

    <h1 class="main__h1">Регистрация</h1>


<form action="/registration" method="POST">
        
        <div class="flex">
            <p class="modal-form-paragraph paragraph-7">Имя пользователя:
                <input type="text" size="80" name="username"> 
            </p>
        </div>

        <div class="flex">
            <p class="modal-form-paragraph paragraph-7">Пароль:
                <input type="text" size="80" name="password"> 
            </p>
        </div>

        <div>
            <button class="main__button" type="submit">Зарегистрироваться</button>
        </div>
</form>

</main>